<?xml version="1.0" encoding="utf-8"?>

<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>
  <connectionStrings>
    <add name="DSN" connectionString="Data Source=.\SQLEXPRESS;DataBase=DeDiplom;User Id=sa;password=root;Integrated Security=true"/>
  </connectionStrings>
</configuration>
